@import "../../scss/variables.scss";
@import "../../scss/responsive.scss";

.postCard {
  //   width: 300px;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    // height: 240px;
  }
  .top {
    margin: 15px 0;
    span {
      margin-right: 10px;
    }
  }
  .heading {
    text-decoration: none;
    color: $headingColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 2rem;
  }
}
