// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import "./responsive.scss";
@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  //   font-family: "Poppins", sans-serif;
  font-family: "Nunito", sans-serif;
  color: $textColor;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingColor;
}

.sectionHeading {
  padding: 10px 30px;
}

.badge {
  padding: 5px;
  border-radius: 4px;
  color: white;
}

.badgeGreen {
  background-color: $success-color;
}

.logo {
  font-size: 28px;
  font-weight: bold;

  @include lg {
    font-size: 24px;
  }

  @include md {
    font-size: 20px;
  }
  .name {
    color: $primaryColor;
  }
}
