$primaryColor: #4bb92f;
$headingColor: #212631;
$textColor: #3d455c;
$btnColor: #212631;
$grayColor: #eceef2;
$error-color: #ff5a5f;
$success-color: #28a745;
$warning-color: #ffa500;

$default-transition: all 0.5s ease-in-out;

// #ff8700, #8d00ff,
