@import "../../scss/variables.scss";
@import "../../scss/responsive.scss";
.home {
  .heroContainer {
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    @include md {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  .postsWrapper {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    padding: 30px;

    // @include lg {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    // @include md {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @include sm {
    //   grid-template-columns: repeat(1, 1fr);
    // }
  }
}
